/* global variable */
:root{
	--body-color: hsl(359, 39%, 35%);
	--page-color: #3399FF;
	--sidebar-color:  #e1f792;

	--font-color: #a2a2ff;

	/* Layout Variables */
	--page-top-position: 85%;
	--page-width: 30%;
	--bottom-bar-height: 10vh;
	--bottom-bar-color: hsl(358, 67%, 62%);
}

body{
	color: black;
	/* When using a already created variable, I must use the "var()" beforehand*/
	background-color: var(--body-color);

	/* This does the same thing */
	/* background-color: hsl(359, 39%, 35%); */
}

#zen-intro{
	background-color: var(--page-color);
}


#zen-supporting{
	background-color: var(--page-color);
}

.sidebar{
	background-color: var(--sidebar-color);
}

h1{
	color: var(--font-color);
}

div.explanation, div.participation, div.benefits, div.requirements {
	position: fixed;
	top: var(--page-top-position);
	width: var(--page-width);
	background-image: url(../img/newspaper3.jpg);

	transition: all 2s ease-in-out;
}

div.explanation {
	left: 0%;
}

div.participation{
	left: 25%;
}

div.benefits{
	left: 50%;
}

div.requirements{
	left: 75%;
}

aside.sidebar{
	position: absolute;
	top: 20%;
	right: 0px;
}

section.intro{
	position: fixed;
	top: 10%;
	bottom: 5%;
	left: 30%;
	height: 80%;
	background-color: var(--bottom-bar-color);
	padding: 2%;
	border: 2px dashed #000000;
	margin-left: 10px;

	text-indent: 1px;
	transform: rotate(-10deg) translate(-100px,0);
}

div.extra2{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: var(--bottom-bar-height);
	background-color: var(--bottom-bar-color);
}

div.extra1{
	position: fixed;
	bottom: 5%;
	left: 20%;
	right: 30%;
	width: 80%;
	height: var(--bottom-bar-height);
	background-image: url(../img/newspaper2.jpg);
	z-index: -1;
}

@font-face{
	font-family: 'myfont';
	src: url(../font/chunkfive.eot);
}

header h1{
	font-family: 'myfont', sans-serif;
	font-weight: 100;
	font-size: 1.25em;
}

header h2{
	font-family: "Baskervville SC", system-ui;
	font-weight: 400;
	font-style: normal;
}

a{
	text-decoration: none;
}

#design-selection{
	color: black;
	/* visibility: hidden; */
	/* display: none; */
}

#design-archives{
	visibility: hidden;
	/* display: none; */
}

#zen-resources{
	visibility: hidden;
	/* display: none; */
}

div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3{
	margin-top: -5%;
	width: 12vw;
	color: black;
	background-color: bisque;
}

/* 04: selector, transform, and transition practive */
a:hover{
	font-size: 1.5em;
}

div.explanation:hover, div.participation:hover, div.benefits:hover, div.requirements:hover{
	top: 15vh;
	height: 90vh;	
}

p::first-letter{
	font-size: 1.5em;
	font-style: italic;
}

p:nth-child(2n+1){
	color: white;
	background-color: black;
}

h3{
	text-shadow: 2em 0.75em 0.1em black;
}

div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3 {
	border-top-left-radius: 20px;
	padding-left: 5px;
}


/*=== 10/9/2024 Notes ===*/
/* list stlye image */
ul{
	list-style-image: url(../img/star.png);
}

section.intro h3{
	opacity: 1;
	transition: all 2s ease-in-out;
}

/* transform and transition */
section.intro h3:hover ~p{
	transform: scale(0.2);
	opacity: 0;
}

@keyframes backforth{
	form{transform: translate(-500px, 0);}
	30%{transform: translate(-300px, 0);}
	50%{transform: translate(300px, 0);}
	70%{transform: translate(500px, 0);}
	90%{transform: translate(600px, 0);}
}

footer{
	position: fixed;
	bottom: 8vh;
	z-index: 4;
	left: 50%;
	animation: 10s ease-in-out 2s alternate infinite backforth;
}

/* fun feature */
/*
body{
	clip-path: circle(60% at 50vw 50vh);
}
*/

aside.sidebar{
	clip-path: polygon(0 0, 0 60%, 50% 90%, 100% 60%, 100% 0);
}


/* 10/14/2024 Changes */
div{
	background-color:  hsla(200,50%,70%,0.3);
  }
  
  .wrapper {
	background-color: white;
	display: grid;
	grid-template-columns: 100px  repeat(2, 1fr) 100px;
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
  }
  
  .one{
	grid-column: 2/4;
	grid-row: 2/4;
  }
  
  .two{
	grid-column: 1/4;
	grid-row: 1/2;
  }
  
  .three{
	grid-column: 1/2;
	grid-row: 2/4;
  }
  
  .four{
	grid-column: 4/4;
	grid-row: 1/3;
  }
  
  .five{
	grid-column: 1/4;
	grid-row: 4/5;
  }
  
  .six{
	grid-column: 3/5;
	grid-row: 3/5;
  }